<h1>Flocks Index</h1>
<a href="/flocks">Return to all Flocks</a><br>
<a href="/birds">Return to all Birds</a><br><br>

<% @flocks.each do |flock| %>
  <h3><%= flock.name %> - Created: <%= flock.created_at %></h3>
<% end %>

<a href="/flocks/new">Create a new Flock</a>