<h1>(<%= @bird.id %>) <%= @bird.name %></h1>

<table>
  <% @bird.attributes.each_pair do | key, value | %>
    <tr>
      <td><%= key %>:</td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>